[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/yum-mysql-community"]
	path = cookbooks/yum-mysql-community
	url = https://github.com/opscode-cookbooks/yum-mysql-community.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
